# Node modules & logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Build artifacts
dist/
build/
*.tsbuildinfo

# Env & secrets
.env
.env.*

# Prisma
.prisma/

# System / editor junk
.DS_Store
.vscode/
.idea/
*.iml
*~

# Docker related
*.pid
*.seed
*.bak
*.tmp
*.swp
*.swo

# todo txt file
todo.txt
